@use "variables";
@use "reset";
@use "bases";
@use "buttons";
@use 'media-queries' as *;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    .para__items {
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .para__calc {
        font-size: 2.5rem;
    }

    .para__result {
        font-size: 5rem;
        font-weight: bold;
        color: var(--orange);
    }
}