:root {
    // Colors

    --gray-cold-1: #14120f;
    --gray-cold-2: #2c2a27;
    --gray-cold-3: #42403d;
    --gray-cold-light: #e8e3dc;
    --orange: #ff8800;

    // Fonts

    --cnews: 'Courier-new', Courier, monospace;
}